@import '~bootstrap/scss/bootstrap';

.bg-myPrimary {
  background-color: #373737;
}

.bg-myPrimaryLight {
  background-color: #E6EEFF;
}

.bg-mySecondary {
  background-color: #A7C7E7;
}

* {
  font-family: 'Montserrat', sans-serif;
}

main {
  padding-top: 60px;
}